<div>
    <h2 data-translate="fastFoodDeliveryApp.bebida.home.title">Bebidas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bebida.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fastFoodDeliveryApp.bebida.home.createLabel">
                        Create new Bebida
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bebida"><span data-translate="fastFoodDeliveryApp.bebida.bebida">Bebida</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorNutricional.id"><span data-translate="fastFoodDeliveryApp.bebida.valorNutricional">Valor Nutricional</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorRefeicao.id"><span data-translate="fastFoodDeliveryApp.bebida.valorRefeicao">Valor Refeicao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bebida in vm.bebidas track by bebida.id">
                    <td><a ui-sref="bebida-detail({id:bebida.id})">{{bebida.id}}</a></td>
                    <td>{{bebida.bebida}}</td>
                    <td>
                        <a ui-sref="valor-nutricional-detail({id:bebida.valorNutricional.id})">{{bebida.valorNutricional.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="valor-refeicao-detail({id:bebida.valorRefeicao.id})">{{bebida.valorRefeicao.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bebida-detail({id:bebida.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bebida.edit({id:bebida.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bebida.delete({id:bebida.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
