<div>
    <h2>Realizar pedido</h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <form name="realizarPedidoForm" role="form" novalidate show-validation>
            <div class="row">
                <div class="alert alert-danger" ng-show="vm.falhaMatchSenha">
                    A senha difere da confirmação.
                </div>

                <uib-tabset active="active">
                    <uib-tab index="0" heading="1. Refeição">
                        <h2><small>Escolha a sua refeição</small></h2>

                        <div class="list-group">

                            <a href="" class="list-group-item"
                               ng-repeat="refeicao in vm.refeicoes | filter: vm.filtroRefeicao"
                               ng-click="vm.selecionarRefeicao(refeicao)"
                               ng-class="{'active': refeicao.selecionada}">

                                {{refeicao.tipoAlimento}}
                            </a>

                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="2. Escolha de alimentos">
                        <h2><small>Escolha o seu alimento</small></h2>

                        <div class="row">

                            <div class="col-md-2">
                                <select class="form-control" name="tipoAlimento" ng-model="vm.alimentoEscolhido.tipoAlimento" ng-options="tipoAlimento as tipoAlimento.tipoAlimento for tipoAlimento in vm.tiposAlimento track by tipoAlimento.id" ng-change="vm.consultarAlimentos()">
                                    <option value="">Tipo</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <select class="form-control" name="alimento" ng-model="vm.alimentoEscolhido.alimento" ng-options="alimento as alimento.alimentoCol for alimento in vm.alimentos track by alimento.id">
                                    <option value="">Alimento</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <select class="form-control" name="preparo" ng-model="vm.alimentoEscolhido.preparo" ng-options="preparo as preparo.preparo for preparo in vm.preparos track by preparo.id">
                                    <option value="">Preparo</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <select class="form-control" name="tempero" ng-model="vm.alimentoEscolhido.tempero" ng-options="tempero as tempero.tempero for tempero in vm.temperos track by tempero.id">
                                    <option value="">Tempero</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <div class="input-group">
                                    <input type="number" class="form-control" ng-model="vm.alimentoEscolhido.valorEmGramas">
                                    <span class="input-group-addon">g</span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-primary" type="submit" ng-click="vm.adicionarAlimentoEscolhido()">Adicionar</button>
                            </div>

                        </div>
                        </br>
                        </br>

                        <div class="row">

							<div class="table-responsive">
	                            <table class="table table-striped table-hover table-responsive">
	                                <thead>
	                                    <tr>
	                                        <th>Tipo</th>
	                                        <th>Alimento</th>
	                                        <th>Gramas</th>
	                                        <th>Calorias por Kg</th>
	                                        <th>Total calorias</th>
	                                        <th>Ação</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr ng-repeat="alimentoEscolhido in vm.pedido.alimentos track by $index">
	                                        <td>{{alimentoEscolhido.tipoAlimento.tipoAlimento}}</td>
	                                        <td>{{alimentoEscolhido.alimento.alimentoCol}}</td>
	                                        <td>{{alimentoEscolhido.valorEmGramas}}</td>
	                                        <td>{{alimentoEscolhido.alimento.valorNutricional.caloria}}</td>
	                                        <td>{{alimentoEscolhido.alimento.valorNutricional.caloria}}</td>
	                                        <td>
	                                            <button type="button" ng-click="vm.excluirAlimentoEscolhido($index)" class="btn btn-danger btn-sm">
	                                                <span class="glyphicon glyphicon-remove-circle"></span>
	                                                <span class="hidden-sm-down">Excluir</span>
	                                            </button>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
							</div>
                        </div>

                    </uib-tab>

                    <uib-tab index="2" heading="3. Escolha de bebidas">
                        <h2><small>Escolha a sua bebida</small></h2>

                        <div class="row">

                            <div class="col-md-2">
                                <select class="form-control" name="tempero" ng-model="vm.alimentoEscolhido.bebida" ng-options="bebida as bebida.bebida for bebida in vm.bebidas track by bebida.id">
                                    <option value="">Bebida</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <select class="form-control" name="tempero" ng-model="vm.alimentoEscolhido.bebida.doce" ng-options="doce as doce.doce for doce in vm.doces track by doce.id">
                                    <option value="">Forma de adoçar</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <select class="form-control" ng-model="vm.alimentoEscolhido.bebida.capacidade">
                                    <option value="">Capacidade</option>
                                    <option value="300">300 ML</option>
                                    <option value="500">500 ML</option>
                                    <option value="700">700 ML</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <input type="number" ng-model="vm.alimentoEscolhido.bebida.quantidade" class="form-control" placeholder="Quantidade">
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-primary" type="button" ng-click="vm.adicionarBebidaEscolhida()">Adicionar</button>
                            </div>

                        </div>
                        </br>
                        </br>

                        <div class="row">
							<div class="table-responsive">
	                            <table class="table table-striped table-hover">
	                                <thead>
	                                <tr>
	                                    <th>Bebida</th>
	                                    <th>Doce</th>
	                                    <th>Capacidade</th>
	                                    <th>Ação</th>
	                                </tr>
	                                </thead>
	                                <tbody>
	                                <tr ng-repeat="bebida in vm.pedido.bebidas track by $index">
	                                    <td>{{bebida.bebida}}</td>
	                                    <td>{{bebida.doce.doce}}</td>
	                                    <td>{{bebida.capacidade * bebida.quantidade}}</td>
	                                    <td>
	                                        <button type="button" ng-click="vm.excluirBebidaEscolhida($index)" class="btn btn-danger btn-sm">
	                                            <span class="glyphicon glyphicon-remove-circle"></span>
	                                            <span class="hidden-sm-down">Excluir</span>
	                                        </button>
	                                    </td>
	                                </tr>
	                                </tbody>
	                            </table>
							</div>
                        </div>
                    </uib-tab>

                    <uib-tab index="3" heading="4. Resumo">
                        <h2><small>Revise as suas informações</small></h2>
                        </br>
                        </br>
						
						<div class="table-responsive">
	                        <table class="table table-striped table-hover">
	                            <thead>
	                                <tr>
	                                    <th>Calorias</th>
	                                    <th>Proteínas</th>
	                                    <th>Carboidrato</th>
	                                    <th>Açúcares</th>
	                                    <th>Gorduras Totais</th>
	                                    <th>Gorduras Saturadas</th>
	                                    <th>Sódio</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr ng-repeat="alimento in vm.pedido.alimentos track by $index">
	                                    <td>{{alimento.valorNutricional.caloria}}</td>
	                                    <td>{{alimento.valorNutricional.proteina}}</td>
	                                    <td>{{alimento.valorNutricional.carboidrato}}</td>
	                                    <td>{{alimento.valorNutricional.acucar}}</td>
	                                    <td>{{alimento.valorNutricional.gordurasTotais}}</td>
	                                    <td>{{alimento.valorNutricional.gordurasSaturadas}}</td>
	                                    <td>{{alimento.valorNutricional.sodio}}</td>
	                                </tr>
	                                <tr ng-repeat="bebida in vm.pedido.bebidas track by $index">
	                                    <td>{{bebida.valorNutricional.caloria}}</td>
	                                    <td>{{bebida.valorNutricional.proteina}}</td>
	                                    <td>{{bebida.valorNutricional.carboidrato}}</td>
	                                    <td>{{bebida.valorNutricional.acucar}}</td>
	                                    <td>{{bebida.valorNutricional.gordurasTotais}}</td>
	                                    <td>{{bebida.valorNutricional.gordurasSaturadas}}</td>
	                                    <td>{{bebida.valorNutricional.sodio}}</td>
	                                </tr>
	                            </tbody>
	                        </table>
                 		</div>
                    </uib-tab>

                    <uib-tab index="4" heading="5. Pagamento e entrega">
                        <h2><small>Pagamento e entrega</small></h2>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Valores</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantidade</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.itensTotalizados">
                                            <td>{{item.nome}}</td>
                                            <td>{{item.quantidade}}</td>
                                            <td>{{item.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Forma de Entrega e Pagamento</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-3">

                                        <select class="form-control">
                                            <option>Selecione</option>
                                            <option>Em casa</option>
                                            <option>Na Loja</option>
                                        </select>

                                    </div>
                                    <div class="col-md-3">
										<button class="btn btn-primary" >
						                    <span class="glyphicon glyphicon-plus"></span>
						                    <span>Incluir cartão</span>
						                </button>
                                    </div>

                                </div>
                                </br>

                                <div class="row">

                                    <div class="col-md-6">

                                        <select class="form-control" name="cartao" ng-model="vm.pedido.cartao" ng-options="cartao as cartao.numero for cartao in vm.cartoes track by cartao.id">
                                            <option value="">Cartão de crédito</option>
                                        </select>

                                    </div>

                                    <div class="col-md-6">

                                        <select class="form-control" name="endereco" ng-model="vm.pedido.endereco" ng-options="endereco as endereco.endereco for endereco in vm.enderecos track by endereco.id">
                                            <option value="">Endereço</option>
                                        </select>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>

                <ul class="pager">
                    <li class="previous">
                        <button type="button" ng-click="active = active - 1" ng-show="active !== 0" class="btn btn-primary next-step btn pull-left"> << Voltar</button>
                    </li>

                    <li class="next">
                    	<button type="button" ng-click="active = active + 1" ng-show="active !== 4" class="btn btn-primary next-step btn pull-right">Avançar >></button>
                    	
                    	<button type="button" ng-click="vm.enviarPedido()" ng-show="active === 4" class="btn btn-primary next-step btn pull-right">Enviar</button>
                    </li>
                </ul>

            </div>
        </form>
    </div>
    <br/>
</div>
