<div>
    <h2 data-translate="fastFoodDeliveryApp.cartao.home.title">Cartaos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cartao.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fastFoodDeliveryApp.cartao.home.createLabel">
                        Create new Cartao
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span data-translate="fastFoodDeliveryApp.cartao.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataVencimento"><span data-translate="fastFoodDeliveryApp.cartao.dataVencimento">Data Vencimento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cvv"><span data-translate="fastFoodDeliveryApp.cartao.cvv">Cvv</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cartaoCol"><span data-translate="fastFoodDeliveryApp.cartao.cartaoCol">Cartao Col</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cartao in vm.cartaos track by cartao.id">
                    <td><a ui-sref="cartao-detail({id:cartao.id})">{{cartao.id}}</a></td>
                    <td>{{cartao.numero}}</td>
                        <td>{{cartao.dataVencimento | date:'mediumDate'}}</td>
                    <td>{{cartao.cvv}}</td>
                    <td>{{cartao.cartaoCol}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cartao-detail({id:cartao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cartao.edit({id:cartao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cartao.delete({id:cartao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
