<div>
    <h2 data-translate="fastFoodDeliveryApp.alimento.home.title">Alimentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="alimento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fastFoodDeliveryApp.alimento.home.createLabel">
                        Create new Alimento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alimentoCol"><span data-translate="fastFoodDeliveryApp.alimento.alimentoCol">Alimento Col</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorNutricional.id"><span data-translate="fastFoodDeliveryApp.alimento.valorNutricional">Valor Nutricional</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoAlimento.id"><span data-translate="fastFoodDeliveryApp.alimento.tipoAlimento">Tipo Alimento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorRefeicao.id"><span data-translate="fastFoodDeliveryApp.alimento.valorRefeicao">Valor Refeicao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alimento in vm.alimentos track by alimento.id">
                    <td><a ui-sref="alimento-detail({id:alimento.id})">{{alimento.id}}</a></td>
                    <td>{{alimento.alimentoCol}}</td>
                    <td>
                        <a ui-sref="valor-nutricional-detail({id:alimento.valorNutricional.id})">{{alimento.valorNutricional.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-alimento-detail({id:alimento.tipoAlimento.id})">{{alimento.tipoAlimento.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="valor-refeicao-detail({id:alimento.valorRefeicao.id})">{{alimento.valorRefeicao.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="alimento-detail({id:alimento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="alimento.edit({id:alimento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="alimento.delete({id:alimento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
