
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlimentoLabel" data-translate="fastFoodDeliveryApp.alimento.home.createOrEditLabel">Create or edit a Alimento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alimento.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.alimento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fastFoodDeliveryApp.alimento.alimentoCol" for="field_alimentoCol">Alimento</label>
            <input type="text" class="form-control" name="alimentoCol" id="field_alimentoCol"
                    ng-model="vm.alimento.alimentoCol"
                    />
        </div>

        <div class="form-group">
            <label data-translate="fastFoodDeliveryApp.alimento.preparo" for="field_preparo">Preparo</label>
            <select class="form-control" id="field_preparo" name="preparo" ng-model="vm.alimento.preparos" ng-options="preparo as preparo.id for preparo in vm.preparos track by preparo.id">
            	<option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fastFoodDeliveryApp.alimento.tempero" for="field_tempero">Tempero</label>
            <select class="form-control" id="field_tempero" name="tempero" ng-model="vm.alimento.temperos" ng-options="tempero as tempero.id for tempero in vm.temperos track by tempero.id">
            	<option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fastFoodDeliveryApp.alimento.valorNutricional" for="field_valorNutricional">Valor Nutricional</label>
            <select class="form-control" id="field_valorNutricional" name="valorNutricional" ng-model="vm.alimento.valorNutricional" ng-options="valorNutricional as valorNutricional.id for valorNutricional in vm.valornutricionals | orderBy:'id' track by valorNutricional.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fastFoodDeliveryApp.alimento.tipoAlimento" for="field_tipoAlimento">Tipo Alimento</label>
            <select class="form-control" id="field_tipoAlimento" name="tipoAlimento" ng-model="vm.alimento.tipoAlimento" ng-options="tipoAlimento as tipoAlimento.id for tipoAlimento in vm.tipoalimentos track by tipoAlimento.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
