<div>
    <h2 data-translate="fastFoodDeliveryApp.pessoa.home.title">Pessoas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pessoa.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fastFoodDeliveryApp.pessoa.home.createLabel">
                        Create new Pessoa
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="celular"><span data-translate="fastFoodDeliveryApp.pessoa.celular">Celular</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataNascimento"><span data-translate="fastFoodDeliveryApp.pessoa.dataNascimento">Data Nascimento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sexo"><span data-translate="fastFoodDeliveryApp.pessoa.sexo">Sexo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="peso"><span data-translate="fastFoodDeliveryApp.pessoa.peso">Peso</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="altura"><span data-translate="fastFoodDeliveryApp.pessoa.altura">Altura</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endereco.id"><span data-translate="fastFoodDeliveryApp.pessoa.endereco">Endereco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cartao.id"><span data-translate="fastFoodDeliveryApp.pessoa.cartao">Cartao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.id"><span data-translate="fastFoodDeliveryApp.pessoa.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pessoa in vm.pessoas track by pessoa.id">
                    <td><a ui-sref="pessoa-detail({id:pessoa.id})">{{pessoa.id}}</a></td>
                    <td>{{pessoa.celular}}</td>
                        <td>{{pessoa.dataNascimento | date:'mediumDate'}}</td>
                    <td>{{pessoa.sexo}}</td>
                    <td>{{pessoa.peso}}</td>
                    <td>{{pessoa.altura}}</td>
                    <td>
                        <a ui-sref="endereco-detail({id:pessoa.endereco.id})">{{pessoa.endereco.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="cartao-detail({id:pessoa.cartao.id})">{{pessoa.cartao.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="cliente-detail({id:pessoa.cliente.id})">{{pessoa.cliente.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pessoa-detail({id:pessoa.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pessoa.edit({id:pessoa.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pessoa.delete({id:pessoa.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
